.modal-footer {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
tr th{
  padding-left: 10px !important;
}
#jobList .checkbox label::before{
  border: 1px solid #03a9f3 !important;
}