.modal-footer {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
tr th{
  padding-left: 10px !important;
}
.popover {
    z-index: 999999;
    /*display: block !important;*/
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0px auto -webkit-focus-ring-color!important;
}
/*.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    right: 20px;
}*/
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    padding-right: 15px;
    text-overflow: ellipsis;
}
.btn-default {
    background: #ffffff !important;
    border: 1px solid #e4e7ea;
    padding: 10px 5px !important;
    font-size: 13px !important;
    padding-bottom: 8px !important;
    font-weight: 100 !important;
}
.btn-default:hover {
    background: #e4e7ea !important;
}
.word-wrap{word-wrap: break-word; white-space: normal;width: 300px;}